@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url("https://fonts.googleapis.com/css?family=Montserrat|Orbitron");
html, body {
  height: 100%;
  margin: 0px;
}

body {
  width: 100%;
  display: flex;
  background: orange;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: auto;
}

span {
  font-family: Montserrat;
  font-size: 0.5em;
  color: black;
}

.imag-style {
  background-color: #fff;
  border-radius: 100%;
  height: 200px;
  width: 200px;
  text-align: center;
  margin: auto;
  margin-top: 100px;
  Margin-left: 10px;
  background-image: url("http://image.dek-d.com/27/0391/4869/119477071");
  background-size: cover;
}

#header {
  position: absolute;
  z-index: 10;
  width: 100%;
  margin-top: px;
}

#header h1 {
  font-size: 40px;
  font-family: Orbitron;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: orange;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin-top: 0px;
}

#navigation {
  margin-top: 1px;
  width: 232px;
  display: block;
  list-style: none;
  z-index: 3;
}

.content {
  right: 40px;
  left: 235px;
  top: 120px;
  position: absolute;
  padding-bottom: 0px;
}

.content h2 {
  font-size: 40px;
  font-family: Orbitron;
  padding: 0px 0px 0px 0px;
  margin-top: 10px;
  color: #fff;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

h3 {
  color: black;
}

li {
  color: black;
}

.content p {
  font-size: 20px;
  padding: 10px;
  line-height: 24px;
  color: black;
  display: inline-block;
  padding: 10px;
  margin: 3px 0px;
}

.panel {
  width: 100%;
  min-height: 100%;
  position: absolute;
  background-color: #000;
  box-shadow: 4px -4px 4px rgba(0, 0, 0, 0.2);
  margin-left: -202%;
  z-index: 2;
  transition: all .6s ease-in-out;
}

.panel:target {
  margin-left: 0%;
  background-color: olive;
  height: 400%;
}

one {
  width: 6.866%;
}

.button-1 {
  font-family: Montserrat;
  font-size: 15px;
  display: inline-block;
  padding: 20px 40px;
  margin: 10px 0;
  position: relative;
  color: #fff;
  border: px solid black;
  border-radius: 20%;
  margin-left: 29px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.button-1:before {
  font-family: Montserrat;
  content: "";
  z-index: -1;
  position: absolute;
  width: 99%;
  height: 100%;
  top: 0;
  left: -100%;
  background-color: #007CBF;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 550px) {
  .panel:target {
    margin-left: 0%;
    background-color: olive;
    height: 410%;
  }
  body {
    font-size: 10px;
    width: 100%;
  }
  .content h2 {
    font-size: 25px;
    font-family: Orbitron;
  }
  .content p {
    font-size: 15px;
  }
  .li {
    font-size: 20px;
  }
}

/* Navigation */
#navBar {
  position: fixed;
  margin: 0;
  width: 100%;
  height: 80px;
  background: #2D2D2D;
  box-shadow: 0px 0px 10px #2d2d2d;
  z-index: 9999;
}

/* Name on Nav Bar */
a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .3em;
}

ul {
  margin: 0px;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* drawer menu */
.drawer-menu {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  padding: 120px 0;
  background: #222;
  transition-property: all;
  transition-duration: .5s;
  transition-delay: 0s;
  transform-origin: right center;
  transform: perspective(500px) rotateY(-90deg);
  opacity: 0;
  box-shadow: 0px 0px 5px #1E1E1E;
}

.drawer-menu li {
  text-align: center;
}

.drawer-menu li a {
  display: block;
  height: 50px;
  line-height: 50px;
  font-size: 15px;
  color: orange;
  transition: all .8s;
}

.drawer-menu li a:hover {
  color: #1a1e24;
  background: #96908D;
}

/* checkbox */
.check {
  display: none;
}

/* menu button - label tag */
.menu-btn {
  position: fixed;
  display: block;
  top: 28px;
  right: 40px;
  display: block;
  width: 20px;
  height: 40px;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  z-index: 3;
}

.bar {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 40px;
  height: 1px;
  background: white;
  transition: all .5s;
  transform-origin: left top;
}

.resume {
  padding: 20px;
  text-align: left;
  margin: auto;
  margin-left: -35px;
}

a.btn {
  background: linear-gradient(45deg, #18130a 0%, #e60c27 50%, #02463c 100%);
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(34, 62, 66, 0.25);
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
  transition: box-shadow 1s ease;
}

a.btn:hover {
  box-shadow: 0px 4px 4px rgba(34, 62, 66, 0.5);
  transition: box-shadow 1s ease;
}

img {
  display: block;
  width: 70%;
  border: 12px solid #7AD543;
  margin-left: 20px;
  margin-top: 20px;
}

section {
  margin: 1rem 6rem;
}

ul {
  list-style: none;
  margin: 0rem;
  padding: 1rem;
}

.bar.middle {
  top: 12px;
  opacity: 1;
}

.bar.bottom {
  top: 24px;
  transform-origin: left bottom;
}

.menu-btn__text {
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  margin: auto;
  color: #fff;
  transition: all .5s;
  display: block;
  visibility: visible;
  opacity: 1;
}

/* Hover Effects */
.menu-btn:hover .bar {
  background: white;
}

.menu-btn:hover .menu-btn__text {
  color: #999;
}

.close-menu {
  position: fixed;
  top: 0;
  right: 300px;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0);
  transition-property: all;
  transition-duration: .3s;
  transition-delay: 0s;
  visibility: hidden;
  opacity: 0;
}

/* checked */
.check:checked ~ .drawer-menu {
  transition-delay: .3s;
  transform: none;
  opacity: 1;
  z-index: 2;
}

.check:checked ~ .contents {
  transition-delay: 0s;
  transform: translateX(-300px);
}

.check:checked ~ .menu-btn .menu-btn__text {
  visibility: hidden;
  opacity: 0;
}

.check:checked ~ .menu-btn .bar.top {
  width: 56px;
  transform: rotate(45deg);
}

.check:checked ~ .menu-btn .bar.middle {
  opacity: 0;
}

.check:checked ~ .menu-btn .bar.bottom {
  width: 56px;
  top: 40px;
  transform: rotate(-45deg);
}

.check:checked ~ .close-menu {
  transition-duration: 1s;
  transition-delay: .3s;
  background: rgba(0, 0, 0, 0.5);
  visibility: visible;
  opacity: 1;
  z-index: 3;
}

@media (max-width: 550px) {
  .resume {
    padding: 20px;
    text-align: left;
    border-bottom: px solid #ecf0f1;
    font-size: 20px;
    margin-left: -55;
    margin-top: 65px;
  }
  section {
    margin: auto;
  }
  #panel {
    width: 100%;
  }
  img {
    display: block;
    width: 100%;
    border: px solid #7AD543;
    margin: auto;
  }
}
/*# sourceMappingURL=main.css.map */