@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url("https://fonts.googleapis.com/css?family=Montserrat|Orbitron");
html, body {
  height: 100%;
  margin: 0;
}

body {
  width: 100%;
  display: flex;
  background: #2f4f4f;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: auto;
}

.index {
  margin-top: 80px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 20px;
  color: #00ffff;
}

.index__footer a {
  color: #FF79DA;
  text-decoration: none;
  padding: 10px 15px;
}

.index__footer a:hover {
  background-color: #ffffff;
}

.profile {
  background: #999;
  float: left;
  margin: 2px;
  width: 300px;
  height: 570px;
  margin-top: 60px;
  text-align: justify;
}

.profile__header, .profile__content,
.profile__footer a {
  padding: 10px 15px;
  text-decoration: none;
  color: #FF79DA;
}

.profile__header:hover a, .profile__content:hover a,
.profile__footer a:hover a {
  background-color: #ffffff;
}

.profile__title {
  color: #ffd11f;
  margin-bottom: 0;
  font-size: 12px;
  margin-left: 10px;
  font-family: Orbitron;
}

.profile__content {
  color: #00ffff;
  margin-top: 30px;
}

.header {
  position: absolute;
  z-index: 10;
  width: 100%;
  font-size: 15px;
  font-family: Orbitron;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffd11f;
  padding: 0px;
  margin-top: 0px;
}

.header h1 {
  margin-left: 20px;
}

.navbar {
  position: fixed;
  margin: 0;
  width: 100%;
  height: 80px;
  background: #2D2D2D;
  box-shadow: 0px 0px 10px #2d2d2d;
  z-index: 9999;
}

span {
  font-family: Montserrat;
  font-size: 0.5em;
  color: #000000;
}

.drawer-menu {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  padding: 120px 0;
  background: #222;
  transition-delay: 0s;
  transform-origin: right center;
  transform: perspective(500px) rotateY(-90deg);
  opacity: 0;
  box-shadow: 0px 0px 5px #1E1E1E;
}

.drawer-menu li {
  text-align: center;
  list-style: none;
}

.drawer-menu li a {
  display: block;
  margin-bottom: 40px;
  text-decoration: none;
  font-size: 12px;
  color: #ffd11f;
  transition: all .8s;
}

.drawer-menu li a:hover {
  background: #2f4f4f;
}

/* checkbox */
.check {
  display: none;
}

.menu-btn {
  position: fixed;
  display: block;
  top: 28px;
  right: 40px;
  display: block;
  width: 20px;
  height: 40px;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  z-index: 3;
}

.bar {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 40px;
  height: 1px;
  background: #ffffff;
  transition: all .5s;
  transform-origin: left top;
}

.bar.middle {
  top: 12px;
  opacity: 1;
}

.bar.bottom {
  top: 24px;
  transform-origin: left bottom;
}

/* Hover Effects */
.menu-btn:hover .bar {
  background: #ffd11f;
}

.menu-btn:hover .menu-btn__text {
  color: #999;
}

.close-menu {
  position: fixed;
  top: 0;
  right: 300px;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0);
  transition-property: all;
  transition-duration: .3s;
  transition-delay: 0s;
  visibility: hidden;
  opacity: 0;
}

/* checked */
.check:checked ~ .drawer-menu {
  transition-delay: .3s;
  transform: none;
  opacity: 1;
  z-index: 2;
}

.check:checked ~ .contents {
  transition-delay: 0s;
  transform: translateX(-300px);
}

.check:checked ~ .menu-btn .menu-btn__text {
  visibility: hidden;
  opacity: 0;
}

.check:checked ~ .menu-btn .bar.top {
  width: 56px;
  transform: rotate(45deg);
}

.check:checked ~ .menu-btn .bar.middle {
  opacity: 0;
}

.check:checked ~ .menu-btn .bar.bottom {
  width: 56px;
  top: 40px;
  transform: rotate(-45deg);
}

.check:checked ~ .close-menu {
  transition-duration: 1s;
  transition-delay: .3s;
  background: rgba(0, 0, 0, 0.5);
  visibility: visible;
  opacity: 1;
  z-index: 3;
}

.image {
  width: 400px;
  height: 400px;
  background-image: url("https://cdn.pixabay.com/photo/2016/11/29/11/34/america-1869214_960_720.jpg");
  background-size: cover;
  border-radius: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border: 20px #999 solid;
  animation: rotationimage 5s infinite linear;
}

@keyframes rotationimage {
  from {
    background-position: left center;
  }
  to {
    background-position: -392px center;
  }
}

.wrap {
  margin: 50px auto 0 auto;
  width: 100%;
  display: flex;
  align-items: space-around;
  max-width: 1100px;
}

.wrap__footer a {
  color: #FF79DA;
  text-decoration: none;
  padding: 10px 15px;
}

.wrap__footer a:hover {
  background-color: #ffffff;
}

.tile {
  width: 300px;
  height: 300px;
  margin: 10px;
  background-color: #99aeff;
  display: inline-block;
  background-size: cover;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.44);
  overflow: hidden;
  color: #6456b7;
  font-family: 'Roboto';
}

.tile img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: all 0.4s ease-out;
}

.tile:hover img {
  opacity: 0.2;
}

.tile .text {
  position: absolute;
  padding: 30px;
  height: calc(100% - 60px);
}

.tile h1 {
  font-weight: 300;
  margin: 0;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  color: #0000ff;
}

.tile h2 {
  font-weight: 100;
  margin: 20px 0 0 0;
  font-style: italic;
  transform: translateX(200px);
  color: #1E1E1E;
}

.tile p {
  font-weight: 300;
  margin: 20px 0 0 0;
  line-height: 25px;
  transform: translateX(-200px);
  transition-delay: 0.2s;
  color: #000000;
}

.animate-text {
  opacity: 0;
  transition: all 0.6s ease-in-out;
}

.tile:hover .animate-text {
  transform: translateX(0);
  opacity: 1;
}

@media all and (min-width: 200px) {
  body {
    background-color: #000000;
  }
  .wrap {
    flex-direction: column;
    width: 400px;
  }
  .image {
    width: 150px;
    height: 150px;
    margin-top: 100px;
  }
  .profile {
    background: #1E1E1E;
    float: center;
    font-size: 17px;
    width: 700px;
    margin-top: 300px;
    height: 60px;
  }
  .profile__title {
    text-align: center;
  }
  .header h1 {
    text-align: center;
  }
}

@media screen and (min-width: 700px) {
  body {
    background-color: #1E1E1E;
  }
  .wrap {
    flex-direction: column;
    width: 400px;
    margin-top: 80px;
  }
  .image {
    width: 170px;
    height: 170px;
    margin-top: 85px;
  }
  .profile {
    background: #2f4f4f;
    float: center;
    font-size: 17px;
    width: 100%;
    margin-top: 300px;
    height: 60px;
  }
  .profile__title {
    text-align: center;
  }
  .header h1 {
    text-align: center;
  }
}

@media screen and (min-width: 1100px) {
  body {
    background-color: #2f4f4f;
  }
  .wrap {
    flex-direction: row;
    width: 900px;
    margin: auto;
  }
  .image {
    width: 300px;
    height: 300px;
    margin: auto;
  }
  .profile {
    background: #1E1E1E;
    float: left;
    margin: 1px;
    width: 220px;
    height: 875px;
    margin-top: 70px;
    font-size: 15px;
  }
  .header h1 {
    text-align: left;
  }
}
/*# sourceMappingURL=main.css.map */